<ul>
<!-- List of links to various cities. -->
	<li>
		<a href="/city_weather?city=san_francisco">San Francisco</a>
	</li>

	<li>
		<a href="/city_weather?city=omaha">Omaha</a>
	</li>

	<li>
		<a href="/city_weather?city=mumbai">Mumbai</a>
	</li>
</ul>